@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles*/
/* CSS Reset */

/*    2. Typography*/

/*      3. Layout */


/*
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ------------------------------- 2. Typography ----------------------------------- */


/* ------------------------------- 3. Layout --------------------------------------- */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

button {
    font-weight: 500;
}
/* --------------- 3.1 Reusables ----------------------- */
:root {
    --Paars: #5722CD;
    --Blauw: #4845E4;
    --Roze: #ED4385;
    --Zwart: #0C0C0C;
    --Lichtpaars: #F2F0FF;
    --Lichtgrijs: #F3F6F9;
    --Grijs: #7A7A7A;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    width: 100%;
    flex-direction: row;
    list-style: none;
    color: white;

}

.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    padding: 0;

    margin: 20px 35px 20px 20px;
}

.navbar a {
    color: white;
    text-decoration: none;

}
.header-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--Blauw);
    color: white;
    gap: 20px;
    min-height: 400px;
    clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            0 95%
    );
}

h1 {margin-top: 50px;}

.header-inner-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 12px 20px;
    margin-bottom: 15px;
    border-radius: 50px;
    color: white;
    background-color: var(--Roze);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
}

.header-inner-2 {
    width: 100%;
    padding: 30px 30px 0 30px;
    background-color: var(--Blauw);
}
/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */