@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles*/
/* CSS Reset */

/*    2. Typography*/

/*      3. Layout */


/*
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ------------------------------- 2. Typography ----------------------------------- */


/* ------------------------------- 3. Layout --------------------------------------- */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;
}

button {
    font-weight: 500;
}
/* --------------- 3.1 Reusables ----------------------- */
:root {
    --Paars: #5722CD;
    --Blauw: #4845E4;
    --Roze: #ED4385;
    --Zwart: #0C0C0C;
    --Lichtpaars: #F2F0FF;
    --Lichtgrijs: #F3F6F9;
    --Grijs: #7A7A7A;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    width: 100%;
    flex-direction: row;
    list-style: none;
    color: white;

}

.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    padding: 0;

    margin: 20px 35px 20px 20px;
}

.navbar a {
    color: white;
    text-decoration: none;

}
.header-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--Blauw);
    color: white;
    gap: 20px;

    min-height: 400px;
    clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            0 95%
    );
}

h1 {margin-top: 50px;
    max-width: 600px;}

.header-inner-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 12px 20px;
    margin-bottom: 15px;
    border-radius: 50px;
    color: white;
    background-color: var(--Roze);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
}

.header-inner-2 {
    width: 100%;
    padding: 10px 10px 0 10px;
    background-color: var(--Blauw);
}
/* --------------- 4.2 Introduction ------------------- */
h2 {
    color: var(--Blauw);
    max-width: 650px;
    margin: 60px auto;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
}


.section-1-text {
    text-align: center;
}

.section-1-text h2 {

    margin-bottom: 70px;
}

.section-1-text p {
    margin-bottom: 70px;
}
.section-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
    padding: 80px;
    background-color: var(--Lichtgrijs);
}

.section-2-text {
    flex: 1;
    max-width: 550px;
}

.section-2-text h2 {
    font-family: Georgia, serif;
    font-size: 46px;
    margin: 0 0 45px 0;
    color:black;
    text-align: left;
}

.section-2-text > img {
    width: 75px;
    margin-bottom: 65px;
}

.section-2-text p {
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    line-height: 1.25;
    margin: 0 0 75px 0;
}

.section-2-text a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--Paars);
    text-decoration: none;
}

.section-2-image {
    flex: 1;
}

.section-2-image img {
    width: 100%;
    display: block;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.section-3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
    padding: 80px;
    background-color: var(--Lichtgrijs);
}

.section-3-text {
    flex: 1;
    max-width: 550px;
}

.section-3-text h2 {
    font-family: Georgia, serif;
    font-size: 46px;
    margin: 0 0 45px 0;
    color: black;
    text-align: left;
}

.section-3-text > img {
    width: 75px;
    margin-bottom: 65px;
}

.section-3-text p {
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    line-height: 1.25;
    margin: 0 0 75px 0;
}

.section-3-text a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--Paars);
    text-decoration: none;
}

.section-3-image {
    flex: 1;
}

.section-3-image img {
    width: 100%;
    display: block;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}
.section-4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
    padding: 80px;
    background-color: var(--Lichtgrijs);
}

.section-4-text {
    flex: 1;
    max-width: 550px;
}

.section-4-text h2 {
    font-family: Georgia, serif;
    font-size: 46px;
    margin: 0 0 45px 0;
    color:black;
    text-align: left;
}

.section-4-text > img {
    width: 75px;
    margin-bottom: 65px;
}

.section-4-text p {
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    line-height: 1.25;
    margin: 0 0 75px 0;
}

.section-4-text a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--Paars);
    text-decoration: none;
}

.section-4-image {
    flex: 1;
}

.section-4-image img {
    width: 100%;
    display: block;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.section-5 {
    padding: 60px 20px;
}

.section-5-container {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.section-5-card {
    aspect-ratio: 1 / 1;

    padding: 20px;

    border: 1px solid #7b61ff;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.08);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-5-card img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-bottom: 8px;
}

.section-5-card h3 {
    margin-bottom: 12px;

    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #3d20d3;
}

.section-5-card p {
    font-family: "Poppins", sans-serif;
    font-size: 8px;
    line-height: 1.45;
    color: #555;
}

.section-6 {
    background-color: var(--Blauw);
}

.section-6-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

.section-6-text h2 {
    color: white;
    margin-bottom: 12px;
}

.section-6-text p {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.contact-form {
    width: 504px;
    display: flex;
    flex-direction: column;
}

.contact-form label {
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
}

.contact-form input {
    width: 100%;
    height: 36px;
    padding: 10px;
    margin-bottom: 22px;
}

.contact-form textarea {
    width: 100%;
    height: 137px;
    padding: 10px;
    resize: none;
}


.section-6-text button {
    margin-top: 21px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    background-color: var(--Roze);
    color: white;
    border: none;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    width:125px;
    height: 45px;}

.footer {
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

/* ------------------------------- 5. Media Queries -------------------------------- */

@media (max-width: 768px) {
    .section-5-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 500px) {
    .section-5-container {
        grid-template-columns: 1fr;
    }

    .section-5-card {
        aspect-ratio: auto;
        min-height: 300px;
    }
}